.car-list {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.intro {
  text-align: center;
}

@media (max-width: 576px) {
  .intro h2 {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
  }

  .intro p {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .car-list {
    max-width: 1200px;
  }

  .intro h2 {
    font-size: 2rem;
  }

  .intro p {
    font-size: 1.2rem;
  }

  .car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
}