.car-list {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.intro {
  text-align: center;
}

@media (max-width: 576px) {
  .intro h2 {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
  }

  .intro p {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
  }
}