
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.modal-content {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.modal-header {
  display: flex;
  align-items: left;
  margin-bottom: 15px;
}

.check-icon {
  width: 20px;
  height: 20px;
  color: #28a745;
  margin-right: 10px;
}

.modal-header h3 {
  margin: 0;
  font-size: 1em;
}

.modal-content h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #6c757d;
}

.form-group.with-icon input, .form-group.with-icon select {
  padding-left: 40px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  font-size: 0.9em;
  box-sizing: border-box;
}

.form-group-inline {
  display: flex;
  gap: 10px;
}

.form-group-inline select {
  width: auto;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-actions button {
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
}

.accept-button {
  background-color: #000;
  color: #fff;
}

.cancel-button {
  background-color: #dc3545;
  color: #fff;
}
