      .header {
        background-color: #000;
        padding: 0;
        height: 40px; /* Set a fixed, shorter height */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* margin: -1rem; <-- Eliminado */
      }
      
      .logo {
        height: 4.5em;
        padding: 1.5em;
        will-change: filter;
        transition: filter 300ms;
      }