.header {
  background-color: #000;
  padding: 0;
  height: 60px; /* Set a fixed, shorter height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80%; /* Make the logo 80% of the header's new height */
  width: auto; /* Adjust width automatically */
  object-fit: contain;
}
