@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.plans-container {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plans-header h3 {
  font-size: 14px;
  margin-bottom: 20px;
}
