.plan-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 0 20px;
  margin: 0 auto 10px; /* Centra el elemento y añade margen inferior */
  width: 90%; /* Usa un ancho relativo */
  max-width: 600px; /* Establece un ancho máximo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
}
.plan-item h4 {
  font-size: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.plan-details {
  display: flex;
  padding-bottom: 20px;
  font-size: 10px;
}

.plan-details div {
  width: 50%;
  text-align: left;
}

.plan-details div span {
  font-size: 8px;
  color: #6c757d;
  display: block;
}

.plan-details div p {
  font-weight: bold;
  margin: 5px 0 0 0;
}

.plan-actions {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #dee2e6;
  padding: 10px 0;
}

.plan-actions button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  
}

@media (max-width: 576px) {
  .plan-actions button {
    padding: 10px 20px;
    font-size: 10px;
  }
}
