
.plan-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 0 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-item h4 {
  font-size: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.plan-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.plan-details div {
  display: flex;
  flex-direction: column;
}

.plan-details span {
  color: #6c757d;
  font-size: 8px;
}

.plan-details strong {
  font-size: 10px;
}

.plan-actions {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #dee2e6;
  padding: 10px 0;

}

.plan-actions button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  
}

@media (max-width: 576px) {
  .plan-actions button {
    padding: 10px 20px;
    font-size: 10px;
  }
}
