@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.plans-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.plans-header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.plans-header h3 {
  font-size: 14px;
  margin-bottom: 20px;
}

.plans-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .plans-header h3 {
        font-size: 1.5rem;
    }
}